rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Authenticated Access Rule (Eliminates Firebase Console public exposure warning)
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
