rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Production Security Rule: Authenticated Users (Super Admin & Second Admins) can read & write
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
